<li class="list-group-item list-group-item-dark">
	<%= recipient.name %><br>
	<% if recipient.company %>
		<%= recipient.company %><br>
	<% end %>
	<%= recipient.email %><br>
	<% if recipient.phone %>
		<%= recipient.phone %><br>
	<% end %>
	<%= format_time(recipient.created_at) %>
</li>
