<% if user_signed_in? %>
	<%= link_to "Send a Card", new_recipient_path, class: "btn btn-primary btn-sm" %>
	<%= link_to "Follow Up", recipients_path, class: "btn btn-primary btn-sm" %><br><br>
	<%= current_user.name %> | 
	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
	<%= render 'devise/sessions/new' %><br>
	<p>
		New to CardShare? 
		<%= link_to "Sign Up", new_user_registration_path %></p>
	</p>
<% end %>
